.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 850px) {
  .list {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}
